<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>IXWare - 404</title>
    <!-- MDB icon -->
    <link rel="icon" href="" type="image/x-icon" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://ixwhere.online/resources/css/all.min.css">
    <link rel="stylesheet" href="https://ixwhere.online/resources/css/fontawesome.min.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- Google Fonts Poppins -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Hover Effect -->
    <link rel="stylesheet" href="https://ixwhere.online/resources/css/hover-min.css">
    <!-- MDB -->
    <link rel="stylesheet" href="https://ixwhere.online/resources/css/mdb.min.css" />
    <!-- MDBootstrap Datatables  -->
    <link href="https://ixwhere.online/resources/css/addons/datatables.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="https://ixwhere.online/resources/css/style.css" />
  </head>

<style>
body {
  overflow: hidden;
}
.purple-gradient-rgba {
  background: linear-gradient(40deg, rgba(135, 58, 155, 0.9),rgba(56, 54, 124, 0.9)) !important
}
</style>

<body>
    <section id="particles-js" class="purple-gradient-rgba" style="position: fixed;height:100%;width:100%;">
        <div class="mask">
          <div class="container h-100 d-flex justify-content-center align-items-center animated fadeIn slower">
              <div class="row d-flex justify-content-center pt-5 mt-3">
                  <div class="col-md-12 col-lg-6 text-center text-md-left margins centered">
                      <h4 class="text-center text-white mt-5">404 | Not Found</h4>
                  </div>
              </div>
          </div>
        </div>
    </section>

   <!-- jQuery -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- MDB -->
  <script type="text/javascript" src="https://ixwhere.online/resources/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="https://ixwhere.online/resources/js/addons/datatables.min.js"></script>
  <!-- Sellix -->
  <script src="https://cdn.sellix.io/static/js/embed.js" ></script>
  <!-- reCAPTCHAv3 -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="https://ixwhere.online/resources/js/ix.js"></script>

  <script src="https://ixwhere.online/resources/js/particles.js"></script>
  <script src="https://ixwhere.online/resources/js/app.js"></script>
</body>
</html>
